
html, body{
	background-color:rgb(0, 0, 50);
	color: rgb(255,255,255);
	height: 100%;
	overflow-x:hidden;
}
body{
	position: relative;
}
.move{
	padding-left: 2%;
	padding-right: 5%;
}
.header1{
font-family: 'Lora', sans-serif;
	font-weight: bold;

	font-size: 75px;
	line-height: 1;
	margin-top: 80px;
	margin-bottom: 20px;
	padding-left:2%;
}

ul{
	margin-left: -50px;
	background-color: rgb(0, 0, 50);
	line-height: 2;
}
.projectsh1, .experienceh1, .contacth1{
	font-family: 'Lora', serif;
	font-size: 50px;
	margin-bottom: 20px;
	margin-top: 40px;
}


#blurb{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 28px;
	line-height: 1.2;
	padding-left: 2%;
	padding-right:10%;
}
.rotate{
	margin-top: 20rem;
	position: fixed;
	float: left;
}
a{
	color:  rgb(222, 222, 222);
}
h6{
	font-size: 12px;
	font-weight: 400;
}
.work li, .education li, .tools li{
	list-style-type: none;
	font-weight: lighter;
}
.contact{
	-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
float: left;
margin-top: 240px;
margin-left: -12px;
width: auto;
position:fixed;
z-index: 1;
}
#contact{
	margin-bottom: 100px;
}
.projects{
/*margin-top: -7.5rem;
margin-right: 15rem;*/
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
float: left;
margin-top: 20px;
margin-left: -15px;
width: auto;
position:fixed;
z-index: 1;
}
.experience{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	float: left;
	margin-left: -22px;
	margin-top: 8rem;
	width: auto;
	position:fixed;
	z-index: 1;
}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link{
	color: rgb(255,255,255);
}
.navbar-brand:hover{
	color: rgb(255,255,255) !important;
}
.btn:hover{
	color: rgb(0,0,0);
}
/*.nav-link:hover{
color: rgb(255,255,255) !important;
}*/
.nav-item{
	font-family: "Montserrat", monospace;
}
header{
	position: fixed;
	width: 100%;
	background: rgb(0, 0, 50);
	z-index: 2;
}
.navbar-brand{
	letter-spacing: .5rem;
	font-weight: 200;
	text-decoration: none;
	font-size: .7rem;
	padding-left: 1rem;
}
.section-one{
	margin-top: 5rem;
text-align: left;
display: inline-block;
margin-bottom: 100px;
}
.intro{
	margin-left: 50px;
}


main{
	font-family: 'Lora', sans-serif;
}
/* p{
	font-size: 1.7rem;
} */
.headline{
	margin-top: 20px;
}
.headline p{
	font-size: 5rem;
/*	font-weight: 1000;
*/
padding-top: 7.5rem;
}
.content{
	text-align: center;
}
.no-gutter [class*="col-"] {
	padding: 4px;
	display: block;
	overflow: hidden;
}
img{
	display: block;
	max-width: 100%;
}
.no-gutter [class*="col-"] .work-box > img{
    top: 0;
    left: 0;
	width: 800px;
	height: 200px;
	object-fit:cover;
}
.row{
	margin-left: 45px;
	margin-right: 4px;
}
.experiencesection{
	margin-top: 30px;
}

/*footer{
position: fixed;
box-sizing: border-box;
text-align: center;
font-family: 'Montserrat', monospace;
font-size: small;
margin-bottom: 50px;
}*/
/*#footer{
color: black;
position: sticky;
bottom: 0px;
width: 100%;
text-align: center;
font-family: 'Montserrat', monospace;
font-size: small;
background:white;
}*/


.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 950px;    
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #000000;
    opacity: 0;
    background:  rgb(255, 160, 0);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: .92;
}


.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}


.social-icons-main{
	float: left;
	margin-left: 1rem;
	margin-top: 90px;
	width: auto;
	position:fixed;
	font-size: 22px;
	z-index: 1;
}
.fa{
	color: rgb(221, 221, 221);
}
.fa:hover, a:hover{
	color:rgb(255, 160, 0);
	text-decoration: none;
}
.btn-custom{
	position: relative;
	color:rgb(255,255,255);
	border: 2px solid rgb(255,255,255);
	font-family: Montserrat;
	border-radius: 50px;
	cursor: pointer;
	white-space: nowrap;
	margin: 0 auto;
	margin-bottom: 20px;
}

.btn-custom-two{
	position: relative;
	color: rgb(51, 51, 51);
	background-color:rgb(255,255,255);
	font-family: Montserrat;
	border-radius: 4px;
	cursor: pointer;
	white-space: nowrap;
	font-size: 0.9rem;
		font-weight: bold;
	margin: 0 auto;
	margin-bottom: 20px;
	transition: all 0.4s ease-in-out;
}
.btn-custom-two:hover{
	background-color: rgb(255, 160, 0);
	
}

@media screen and (max-height: 430px){
	
	.body{
		margin-left: 20%;
	}
	.headline p{
		font-size: 1.5rem !important;
	}
	.social-icons-main{
		font-size: 12px;
		margin-top: 80px;
	}
	.social-icon1{
		width: 48px;
		height: 36px;
	}
	.projects h6, .experience h6{
		font-size: 12px;
	}
	.projects h6{
		margin-bottom: 0px;
	}
	.experience h6{
		margin-bottom: 5px;
	}
}
@media screen and (max-width: 400px){
	ul{
		margin-left: -50px;
	}
	.header1{
		font-size: 65px;
	}
	.work li, .education li, .tools li{
		font-size: 14px;
	}
}
@media screen and (max-width: 249px){
	.section-one div{
		padding-left: 20px;
	}
	.headline p{
		font-size: 1.4rem;
	}
	.social-icons-main{
		font-size: 1rem;
		margin-top: 12rem;
	}
	.projects h6, .experience h6{
		font-size: 12px;
	}
	.btn{
		padding: inherit;
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media screen and  (min-width: 250px) and (max-width: 498px)
{
	.headline{
		margin-top: -10px;
	}

	.headline p{
		font-size: 3.5rem;
	}
	.section-one{
		margin-top: 1rem;
	}
	.header1, #blurb{
		padding-right: 5%;
	}
	p{
		font-size: 14px;
		margin-top: 0;
	}
	h6{
		font-size: 12px;
	}
	.social-icons-main{
		position: fixed;
		margin-top: 6rem;
	}
/*.btn-custom{
display: none;
}*/
.img-fluid{
	height: 75px;
	width: 75px;
}
.projects{
	margin-left: -15px;
}
.experience{
	margin-left: -23px;
	margin-top: 113px;
}
.contact{
	margin-left: -13px;
	margin-top: 204px;
}
}
@media screen and  (min-width: 499px) and (max-width: 750px){
	.headline p{
		font-size: 2.5rem;
	}
}
@media screen and  (min-width: 750px) and (max-width: 1024px){
	.headline p{
		font-size: 4rem;
	}
}
@media screen and  (min-width: 1310px) and (min-height: 767px){
	main{
		padding-top: 70px;
	}
}